In [38]:
# change the age in the dictionary to 32
person = {
    'firstname': 'Anna',
    'lastname': 'Carter',
    'age': 30
}

person['age'] = 32
person

{'firstname': 'Anna', 'lastname': 'Carter', 'age': 32}

In [39]:
# print out only the names inthe dictionay
people = {"Katherine Freeman": "katherine.freeman@hoffman.net","Tammy Gonzalez": "tammy.gonzalez@gomez.info",
          "Robin Matthews": "robin.matthews@leblanc-lyons.org","Sherry Farrell": "sherry.farrell@reynolds-johnson.net",
          "Emma Graves": "emma.graves@reid-little.info","Tina Brown": "tina.brown@yahoo.com",
          "George Owens": "george.owens@yahoo.com","Ronald Ball": "ronald.ball@thomas.com"}

[name for name in people]

['Katherine Freeman',
 'Tammy Gonzalez',
 'Robin Matthews',
 'Sherry Farrell',
 'Emma Graves',
 'Tina Brown',
 'George Owens',
 'Ronald Ball']

In [40]:
list(people.keys())

['Katherine Freeman',
 'Tammy Gonzalez',
 'Robin Matthews',
 'Sherry Farrell',
 'Emma Graves',
 'Tina Brown',
 'George Owens',
 'Ronald Ball']

In [41]:
# print out only the email from the dictionary
group = [email for name, email in people.items()]
group

['katherine.freeman@hoffman.net',
 'tammy.gonzalez@gomez.info',
 'robin.matthews@leblanc-lyons.org',
 'sherry.farrell@reynolds-johnson.net',
 'emma.graves@reid-little.info',
 'tina.brown@yahoo.com',
 'george.owens@yahoo.com',
 'ronald.ball@thomas.com']

In [44]:
# converting the dictionary to a list of tuples
my_list = list(people.items())
my_list

[('Katherine Freeman', 'katherine.freeman@hoffman.net'),
 ('Tammy Gonzalez', 'tammy.gonzalez@gomez.info'),
 ('Robin Matthews', 'robin.matthews@leblanc-lyons.org'),
 ('Sherry Farrell', 'sherry.farrell@reynolds-johnson.net'),
 ('Emma Graves', 'emma.graves@reid-little.info'),
 ('Tina Brown', 'tina.brown@yahoo.com'),
 ('George Owens', 'george.owens@yahoo.com'),
 ('Ronald Ball', 'ronald.ball@thomas.com')]

In [48]:
# extracting the emails as a list
my_lis = list(people.values())
my_lis

['katherine.freeman@hoffman.net',
 'tammy.gonzalez@gomez.info',
 'robin.matthews@leblanc-lyons.org',
 'sherry.farrell@reynolds-johnson.net',
 'emma.graves@reid-little.info',
 'tina.brown@yahoo.com',
 'george.owens@yahoo.com',
 'ronald.ball@thomas.com']

In [50]:
just_emails =people.values()
just_emails

dict_values(['katherine.freeman@hoffman.net', 'tammy.gonzalez@gomez.info', 'robin.matthews@leblanc-lyons.org', 'sherry.farrell@reynolds-johnson.net', 'emma.graves@reid-little.info', 'tina.brown@yahoo.com', 'george.owens@yahoo.com', 'ronald.ball@thomas.com'])

In [51]:
keys = ['Katherine Freeman', 'Tammy Gonzalez', 'Robin Matthews', 'Sherry Farrell', 'Emma Graves', 'Tina Brown', 
        'George Owens', 'Ronald Ball']
values = ['katherine.freeman@hoffman.net', 'tammy.gonzalez@gomez.info', 'robin.matthews@leblanc-lyons.org', 
          'sherry.farrell@reynolds-johnson.net', 'emma.graves@reid-little.info', 'tina.brown@yahoo.com', 
          'george.owens@yahoo.com', 'ronald.ball@thomas.com']

In [58]:
# map the names to emails
my_dict1 = {}
for i in range(len(keys)):
    my_dict1[keys[i]] = values[i]

# Alternative answer 1
#my_dict2 = {keys[i]: values[i] for i in range(len(keys))}
#my_dict2

# Alternative answer 2
#my_dict3 = dict(zip(keys, values))
#my_dicts3

{'Katherine Freeman': 'katherine.freeman@hoffman.net',
 'Tammy Gonzalez': 'tammy.gonzalez@gomez.info',
 'Robin Matthews': 'robin.matthews@leblanc-lyons.org',
 'Sherry Farrell': 'sherry.farrell@reynolds-johnson.net',
 'Emma Graves': 'emma.graves@reid-little.info',
 'Tina Brown': 'tina.brown@yahoo.com',
 'George Owens': 'george.owens@yahoo.com',
 'Ronald Ball': 'ronald.ball@thomas.com'}

In [61]:
# email lookup from name
from csv import reader
# read the CSV file
file = open("users.csv")
file_reader = reader(file)
rows = list(file_reader)[1:] # ignore column headers
file.close()
# create an empty dictionary mapping names to emails
name_to_email = {}
# loop over the rows to populate the dictionary
for row in rows:
    # get the name and the email from the row
    name = row[0]
    email = row[1]
    # make the name map to the email
    name_to_email[name] = email
    
# lookup the email addresses
name_to_email['ogo']

'ogo@yahoo.com'

In [63]:
# reverse name lookup from mail
# create an empty reverse dictionary
email_to_name = {}
# loop over all keys
for name in name_to_email:
    # obtain the email from the name
    email = name_to_email[name]
    # map the email to the name
    email_to_name[email] = name

name = email_to_name['uwa@yahoo.com']
print(name)

uwa

In [64]:
#clean the text file "test to clean" using the cleaning_dict.
cleaning_dict = {'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd', 'E': 'e', 'F': 'f', 'G': 'g', 'H': 'h', 'I': 'i', 'J': 'j', 
                 'K': 'k', 'L': 'l', 'M': 'm', 'N': 'n', 'O': 'o', 'P': 'p', 'Q': 'q', 'R': 'r', 'S': 's', 'T': 't', 
                 'U': 'u', 'V': 'v', 'W': 'w', 'X': 'x', 'Y': 'y', 'Z': 'z', ' ': '_', ',': '.'}
text_to_clean = "The roOm temPeraTUre is 12,5 deGrEes ceLSIus buT oUtsiDE iT IS 20.6 degreeS"
cleaned_text = ""
for cur in text_to_clean:
    if cur in cleaning_dict:
        cleaned_text += cleaning_dict[cur]
    else:
        cleaned_text += cur
print(cleaned_text)

the_room_temperature_is_12.5_degrees_celsius_but_outside_it_is_20.6_degrees

In [70]:
# we are interested in finding out which neighborhoods have the most restaurants.
from csv import reader
# read the CSV file
file = open("restaurants.csv")
file_reader = reader(file)
rows = list(file_reader)[1:] # ignore column headers
# create the frequency table
count = {}
for row in rows:
    neighborhood = row[1]
    if neighborhood in count:
        count[neighborhood] += 1
    else:
        count[neighborhood] = 1
# compute the maximum frequency and the correspoding restaurant
maximum = 0
most_restaurants = None
for neighborhood in count:
    # check whether the current neighborhood has more restaurant than
    # the current maximum. If so, update the maximum and the most_restaurants variable
    if maximum < count[neighborhood]:
        maximum = count[neighborhood]
        most_restaurants = neighborhood
print(most_restaurants)

Canton

In [71]:
#  find two laptops on the list, such that their total price is exactly $5,000.
from csv import reader
# read the CSV file
file = open("laptop.csv")
file_reader = reader(file)
rows = list(file_reader)[1:] # ignore column headers
# create the dictionary mapping the prices to the laptop names
price_to_name = {}
for row in rows:
    price = int(row[2])
    name = row[1]
    if price in price_to_name:
        price_to_name[price].append(name)
    else:
        price_to_name[price] = [name]
# initialize the two laptops in the answer to None
laptop1 = None
laptop2 = None
# look for a solution
for row in rows:
    price = int(row[2])
    # this laptop's cost is price, so if there is a laptop that 
    # costs 5000 - price then their total price is exactly 5000
    if price == 2500 and len(price_to_name[2500]) >= 2:
        laptop1 = price_to_name[2500][0]
        laptop2 = price_to_name[2500][1]
    elif 5000 - price in price_to_name:
        laptop1 = price_to_name[price][0]
        laptop2 = price_to_name[5000 - price][0]
        print(price)
# print the solution
print(laptop1)
print(laptop2)

None
None